.about-heading{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    /* justify-content: center;
    text-align: justify; */
}
.about-full-heading{
    background-color: rgb(176, 210, 199);
    padding: 40px;
}
.about-p{
    text-align: justify;
}