/* * {
    box-sizing: border-box;
  }
   */
  .view-all{
    background-color: rgb(196, 227, 142);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    text-align: center;
  }
 
  .authors-main{
    background-color: rgb(227, 221, 233);
    border-radius: 20px;
    
  }
   .authors-header{
    text-align: center;
    background-color: rgba(250, 76, 7, 0.349);
    padding: 10px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    color: rgba(200, 40, 139, 0.71);
    font-family: 'Times New Roman', Times, serif;
}
.authors-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* margin-left: 10px; */
    
}

@media screen and (max-width:1100px) {
  .authors-container{
        
    grid-column: auto;
  grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width:760px) {
    .authors-container{
      
    grid-template-columns: repeat(1, 1fr);
    }
}