/* .header-body{
    
    background-color: rgb(64, 142, 176);
    height: 70px;
    
    
} */
.header-container{
    background-color: rgba(255, 177, 74, 0.765);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.header-center{
    border-radius: 10px;
}
/* .home-btn{
    padding-left: 5px;
    padding-bottom: 5px;
    padding-top: 2px;
    padding-right: 5px;
    background-color: aquamarine;
    border-radius: 5px;
} */

.header-bg{
    background-color: rgba(213, 209, 234, 0.411);
}

/* .header-weight{
    color: rgb(197, 129, 129);
    font-weight: 500;
} */


/* .header-image{
    width: 160px;
    height: 50px;
    border-radius: 5px;
   
} */