.footer-container{
    /* background-color: rgba(115, 219, 181, 0.542); */
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

}

.footer-titlee{
    color: rgb(198, 156, 238);
    
}
/* .footer-container{
    background-color: ;
} */

.footer-logo{
    display: flex;
    justify-content: center;
}

.footer-css{
    /* margin-left: 30px;
    margin-right: 30px;
    padding-bottom: 10px; */
    display: flex;
    justify-content: center;
}

.footer-logo-img{
    width: 30px;
    height: 30px;
    margin-left: 20px;
}